            <div class="row w-100 m-0">
                <div class="col-12 col-md-6">
                    <table border=0 class="w-100" style="height: 80vh; color: #f4f5f7;">
                        <td>
                            <h1 class="display-1 text-center my-5" id="date">{{ d['date'] }}</h1>
                            <h1 class="text-center">--- {{ d['dtltitle'] }} ---</h1>
                            <h2 class="text-center mx-3">{{ d['dtl'] }}</h2>
                        </td>
                    </table>
                </div>
                <div class="col-12 col-md-6">
                    <table border=0 class="w-100" style="height: 80vh; color: #f4f5f7;">
                        <td>
                            <div class="text-center">
                                <img src="{{ w['icon'] }}" class="w-50 my-3">
                                <h2 class="text-center">{{ w['temp'] }} / {{ w['prec'] }}</h2>
                            </div>
                        </td>
                    </table>
                </div>
            </div>
