            <div class="row w-100 m-0">
                <div class="col-12 col-md-6">
                    <table border=0 class="w-100" style="height: 80vh; color: #f4f5f7;">
                        <td class=>
                            <h1 class="display-1 text-center my-5" id="date">{{ date }}</h1>
                            <h1 class="text-center">--- {{ dtltitle }} ---</h1>
                            <h2 class="text-center mx-3">{{ dtl }}</h2>
                        </td>
                    </table>
                </div>
            </div>
